.item {
  background-color: var(--mainWhite);
  line-height: 1.5rem;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid var(--secondColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s linear;
}

.item:hover {
  width: 100%;
  transform: scale(1.02);
}

.info {
  flex: 0 0 60%;
  display: flex;
  justify-content: space-between;
}

.expense {
  margin-right: 2rem;
}

.clear-btn,
.edit-btn {
  background: none;
  border: none;
  font-size: 2rem;
  outline: none;
  cursor: pointer;
}

.clear-btn {
  color: var(--mainRed);
}

.edit-btn {
  color: var(--mainGreen);
}